body{
  margin: 0;
}
.editable-table {
    border-collapse: collapse;
    width: 100%;
    height: 100vh;
  }
    
 
  .editable-table tr:focus {
    background-color: #494444;
  }
  th{
    background-color:rgb(199, 199, 199);
  }
  td,th{
    max-width:10px;
    border: 1px solid #ddd;
    padding: 8px;

  }

  .editable-table input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
  }
  